
div.main-menu {
  background: #217e23;
}
div.main-menu a {
  color: white;
  font-size: 1.2em;

  padding: 0 8px;
}





div.main-menu a:hover {
  background: #136815;
}


div.main-menu .pb-1, .py-1 {

  padding: 0  0  !important;
}